:root {
    --custom-boxShadow: 0 10px 20px rgba(0, 0, 0, 0.783), 0 6px 6px rgba(0, 0, 0, 0.783);
    --spooky-orange: #f90;
    --ui-color: rgb(28, 28, 28);
}

nav {
    position: fixed;
    margin: auto;
    background-color: var(--ui-color);
    padding: 15px;
    top: 0px;
    left: 0px;
    width: 100%;
    border-color: black;
    border-style: solid;
}

.navbarLink {
    padding: 5px 5% 5px 5%;
    background-color: rgb(58, 58, 58);
    box-shadow: 0px 0px 5px;
}

/* pseudo-class selector */

a:hover {
    color: var(--spooky-orange);
}

a {
    color: cyan;
}

button:hover {
    background-color: rgb(92, 92, 92);
}

#content {
    margin: 70px;
    margin-bottom: 20px;
    right: 10%;
    border-style: dashed;
    padding: 10px;
    background-color: hsl(360, 0%, 100%);
}

#banner {
    text-align: center;
    font-size: 64px;
    background-color: rgba(94, 94, 94, 0.742);
    background: linear-gradient(205deg, white, linen);
    padding: 10px;
    margin: 24px;
    font-family: 'Abril Fatface', Arial, Helvetica, sans-serif;
    box-shadow: var(--custom-boxShadow);
    text-transform: capitalize;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 24px;
    font-weight: 200;
}

h3 {
    /* (Hue, Saturation, Lightness) formation */
    color: hsl(360, 0%, 0%);
}

#stripes {
    background: repeating-linear-gradient( 135deg, white 0px, white 40px, red 40px, black 80px);
    height: 20em;
    width: 20em;
    margin: auto;
    margin-bottom: 30px;
    border-style: solid;
    border-width: 1em;
}

#stripes2 {
    background: linear-gradient(45deg, red, blue);
    width: 10em;
    height: 10em;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    border-style: solid;
    /* transform: scale(1.5); */
}

#stripes3 {
    background: linear-gradient(45deg, blue, red);
    width: 50%;
    height: 50%;
    border-style: solid;
    margin: 2.3em;
}

#stripes4 {
    background: repeating-linear-gradient(45deg, black 0px, black 10px, white 10px, white 20px);
    border-style: solid;
    width: 15em;
    height: 15em;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    ;
}

#stripes5 {
    background: repeating-linear-gradient(135deg, white 0px, white 10px, black 10px, black 20px);
    border-style: solid;
    width: 15em;
    height: 15em;
    opacity: 50%;
    z-index: 2;
}

#circleArt {
    background-color: black;
    border-style: solid;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    z-index: 3;
    margin: 2em;
}

#upBtn {
    position: fixed;
    bottom: 0.3em;
    right: 0.4em;
    font-size: 50px;
    z-index: 10;
}

#upBtn:hover {
    transform: scale(1.1);
}

#footer {
    text-align: center;
    background-color: var(--ui-color);
    padding: 0.6em;
    margin: 0px;
    color: white;
    transform: scale(1.3);
}