:root {
    --custom-boxShadow:0 10px 20px rgba(0, 0, 0, 0.783), 0 6px 6px rgba(0,0,0,0.783); 
    --spooky-orange: #f90;
    --up-arrow: 10px;
}
#navbar {
    position: fixed;
    text-align: center;
    background-color: black;
    padding: 5px;
    top: 0px;
    left: 0px;
    width: 100%;
    border-color: black;
    border-style: solid;
}

.navbarLink {
    padding: 5px 5% 5px 5%;
    background-color: gray;
    box-shadow: 0px 0px 5px;
}

button:hover {
    background-color: rgb(92, 92, 92);
}


#content {
    margin: 50px 60px 0% 0%;
    right: 10%;
}

#banner {
    text-align: center;
    background-color: rgba(1, 209, 232, 0.954);
    padding: 1em;
    margin: 1em;
    font-family: 'Abril Fatface', Arial, Helvetica, sans-serif;
    box-shadow: var(--custom-boxShadow);
    text-transform: capitalize;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 24px;
    font-weight: 200;
}

#offsetPractice {
    position: fixed;
    bottom: var(--up-arrow);
    right: var(--up-arrow);
    font-size: 50px;
    background-color: black;
    border-radius: 50%;
    height: 1em;
}

/* pseudo-class selector */
a:hover {
    color: var(--spooky-orange);
}